@import "../../_variables";


@media only screen and (max-width: 600px) {
  .infoBarLine {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .infoBarLine {
    width: 15px;
    position: fixed;
    bottom: 50px;
    right: 25px;
    color: var(--text-primary);
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    transition: transform $transition-speed;
  }

  .infoBarLine:hover {
    transition: opacity $transition-speed;
    transform: rotate(1deg);
  }

  .infoBarLine:after {
    background-color: var(--text-primary);
    content: "";
    display: inline-block;
    height: 80px;
    position: relative;
    width: 5%;
    margin-top: 5px;
    margin-right: 2px;
  }
}
