@import "../../_variables";

.settingsCard {
  height: 260px;
  width: 250px;
  border: 1px solid var(--bg-primary);
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  margin: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
}

.theme-icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.active {
  color: rgb(224, 203, 162);
  text-shadow: 2px 2px 2px #383838;
}

.no-active {
  // color: --(bg-primary);
  color: rgba(0, 0, 0, 0.2);
}

.md-36 {
  font-size: 36px;
  text-shadow: 2px 2px 2px #383838;
}
